body{
    background-color:#D2B48C;
}

table {
   border-collapse: collapse;
   border: 8px solid white;
}

td {
    text-align: left;
    border: 1px solid white;
    background-color: #F08080;
    color: white;
    padding: 5px;
}

th{
    height: 30px;
    vertical-align: bottom;
    background-color: #FFFF99;
    color: #696969;
    border: 1px solid white;
    padding: 5px;
}

a {
    color: #696969;
}

tr:hover {
    background-color: #CCCCCC;
}

input[readonly] {
    background-color: gray;
}